MONGO_URI=mongodb://mongo:27017
MONGO_DB=customerdb
MONGO_COLLECTION=customers

REST_PORT=8060
GRAPHQL_PORT=8061
GRPC_PORT=8062
FASTAPI_PORT=8063
MCP_PORT=8064
SOCKETIO_PORT=8065
SSE_PORT=8066
SOAP_PORT=8067
WEBSOCKET_PORT=8068
WEBHOOK_PORT=8069

HOST=localhost
DEBUG=True
LOG_LEVEL=DEBUG
API_PREFIX=/api
CORS_ORIGINS=*
